<div class="left-panel-menu left-panel color-left-panel">
  <ul class="side-nav color-side-nav">
    <li class="home-link">
      <a href="#" onclick="loadHome();" ng-click="prepareHome()" >
        <span class="icon-home"></span>
        HOME
      </a>
    </li>
    <li ng-click="prepareFxAdmin();" onclick="loadFxAdmin();">
      <a href="#fx-admin">
        <span class="icon-fxadmin"></span>
        FX ADMIN
      </a>
    </li>
    <li>
      <a href="#ireport">
        <span class="icon-ireport"></span>
          iREPORT
      </a>
    </li>
    <!--
    <li class="user-preference" ng-click="preparePreferences();" onclick="loadPreferences()" >
      <a href="#">
        <span class="icon-userpreference"></span>
        USER PREFERENCE
      </a>
    </li>
    -->
  </ul> 
</div>
