
<!-- quick eyd trade widget starts -->
<div draggable class="widget xxlarge-3 xlarge-4 large-5 medium-6 small-12 columns portlet" ng-init="minimize=false; show=true;" ng-show="show==true">
  <div ng-controller="EydTradeController" class="container">
    <div class="portlet-header">
      <ul class="right widget-menu">
        <li>
          <a href="#" data-dropdown="eyd-settings-drop" aria-controls="eyd-settings-drop" data-options="align:left" aria-expanded="false">
            <span class="icon-settings"></span>
          </a>
          <ul id="eyd-settings-drop" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
            <li><a href="#" ng-click="minimize=!minimize">Minimize</a></li>
            <li><a href="#">Fullscreen</a></li>
            <li><a href="#" ng-click="show=false;">Close</a></li>
          </ul>
        </li>
      </ul>
      <h3>QUICK EYD TRADE</h3>
    </div><!-- .header ends -->
    <div class="section" ng-hide="minimize">
      <form class="clearfix">
        <div class="eyd-form">
          <div class="row collapse">
            <div  class="large-12 medium-12 small-12 columns">
              <label>Customer<br/>
                <select class="radius select2 text-normal" ng-model="customer" ng-options="(c.shortName +' : ' + c.id+ '/' + c.fullName) for c in customers" >
                  <option value="">--Select</option>
                </select>
              </label>
            </div>
          </div>
          <div class="row collpase">
            <div class="large-6 medium-6 small-6 columns">
              <label>CCY Pair<br/>
                <select class="radius select2 text-normal" ng-model="ccp" ng-options="(c.ccy) for c in ccp" >
                  <option value="">--Select</option>
                </select>
              </label>
            </div>
          </div>
          <div class="row collapse">
            <div class="large-6 medium-6 small-6 columns">
              <label>Principal{{show}}
                <input type="number" ng-model="principal" class="radius"/>
              </label>
            </div>
            <div class="large-3 large-offset-1 medium-3 medium-offset-1  small-3 small-offset-1 columns end">
              <label>Tenor
                <input type="text" ng-model="tenure" class="radius"/>
              </label>
            </div>
          </div>
        </div>
        <a href="#" ng-click="prepareEydPricer()"  onclick="loadEydPricer()"  class="button submit radius round tiny right">EYD PRICER</a>
      </form>
    </div><!-- .section ends-->
  </div> 
</div>
<!-- quick eyd widget ends -->
