
  <!-- content panel starts -->
  <div ng-controller="EydTradeController" class="eyd_pricer-container content-panel color-content-panel ep" style="display:none">
    <form>
      <div class="row fullwidth ep-top-panel"><!-- .ep-top-panel starts -->
        <div class="xxlarge-2 xlarge-2 large-2 medium-2 small-2 columns vertical-align-middle">
          <h2 class="ep-top-panel-head">EYD Pricer</h2>
          <span class="divider"></span>
        </div>
        <div class="xxlarge-7 xlarge-7 large-7 medium-7 small-7 columns end">
          <div class="row">
            <div class="xxlarge-5 xlarge-5 large-5 medium-5 small-5 columns">
              <label>Customer<br/>
                <select class="select2" ng-model="customer" ng-options="(c.shortName +' : ' + c.id+ '/' + c.fullName) for c in customers" >
                  <option value="">--Select</option>
                </select>
              </label>
            </div>
            <div class="xxlarge-4 xlarge-4 large-4 medium-4 small-4 columns">
              <label>Specialist<br/>
                <select class="select2" ng-model="specialist" ng-options="(s.fullName) for s in specialists" >
                  <option value="">--Select</option>
                </select>
              </label>
            </div>
            <div class="xxlarge-3 xlarge-3 large-3 medium-3 small-3 columns">
              <label>CCY Pair<br/>
                <select class="select2" ng-model="ccp" ng-options="(c.ccy) for c in ccp" >
                  <option value="">--Select</option>
                </select>
              </label>
            </div>
          </div> 
          <span class="divider"></span>
        </div>
        <div class="xxlarge-3 xlarge-3 large-3 medium-3 small-3 columns end">
          <button class="radius round uppercase">COPY SUMMARY</button>
          <button class="radius round uppercase">QUICK TRADE</button>
        </div>
      </div><!-- .ep-top-panel ends -->
    </form>
    <div class="row fullwidth">
      <div class="xxlarge-7 xlarge-7 large-7 medium-7 small-7 columns eyd-left-panel">
        <div class="right-divider">
          <div class="row">
            <div class="xxlarge-12 xlarge-12 large-12 medium-12 small-12 columns end">
              <div class="principle-tenor-section divider-top">
                <div class="row">
                  <div class="xxlarge-5 xlarge-5 large-5 medium-5 small-5 columns">
                    <label><span class="bold">Principal</span><br/>
                      <input type="number" placeholder="Principle" ng-model="principal" class="text-right bold radius" id="principle"/>
                    </label>
                  </div>
                  <div class="xxlarge-3 xlarge-3 large-3 medium-3 small-3 columns">
                    <label><span class="bold">Tenor</span><br/>
                      <input type="text" ng-model="tenure"  placeholder="Tenor" class="text-right bold radius"/>
                    </label>
                  </div>
                  <div class="xxlarge-4 xlarge-4 large-4 medium-4 small-4 columns eyd-pts-button-padding-hack">
                    <button class="tiny secondary radius round uppercase">Clear</button>
                    <button class="tiny radius round uppercase bold">Quote</button>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- .row ends here -->

          <div class="row">
            <div class="xxlarge-12 xlarge-12 large-12 medium-12 small-12 columns end">
              <div class="divider-top">
                <div class="row">
                  <div class="xxlarge-4 xlarge-4 large-4 medium-4 small-4 columns border-right">
                    <h4 class="form-head">Rates</h4>
                    <div class="row">
                      <div class="xxlarge-12 xlarge-12 large-12 medium-12 small-12 columns">
                        <label>Trader's Rate<br/>
                          <input type="number" class="text-right radius percent bold" placeholder="Trader's Rate" value="-0.0500"/>
                        </label> 
                      </div>
                    </div><!-- input .row ends here -->
                    <div class="row">
                      <div class="xxlarge-12 xlarge-12 large-12 medium-12 small-12 columns">
                        <label>Customer's Rate<br/>
                          <input type="number" class="text-right radius optional percent bold" placeholder="Customer's Rate" value="-0.5"/>
                        </label> 
                      </div>
                    </div><!-- input .row ends here -->
                    <div class="row">
                      <div class="xxlarge-12 xlarge-12 large-12 medium-12 small-12 columns">
                        <label>Option Strike (Benchmark Rate)<br/>
                          <input type="number" class="text-right radius optional international-6 bold" placeholder="Option Strike (Benchmark Rate)" value="1.313700"/>
                          <span class="hint">0.3% itm</span>
                        </label> 
                      </div>
                    </div><!-- input .row ends here -->
                    <div class="row">
                      <div class="xxlarge-12 xlarge-12 large-12 medium-12 small-12 columns">
                        <label>FX Rate for Spot Date<span class="superstick">*</span><br/>
                          <input type="number" class="text-right radius locked international-6 bold" placeholder="FX Rate for Spot Date" value="1.318300"/>
                        </label> 
                      </div>
                    </div><!-- input .row ends here -->
                  </div><!-- column ends here -->
                  <div class="xxlarge-4 xlarge-4 large-4 medium-4 small-4 columns border-right">
                    <h4 class="form-head">Dates</h4>
                    <div class="row">
                      <div class="xxlarge-12 xlarge-12 large-12 medium-12 small-12 columns">
                        <label>Deal Date<span class="superstick">*</span><br/>
                          <input type="date" id="deal-date" class="text-left radius black bold behaviour-date" placeholder="mm/dd/yyyy" value="8/27/2014"/>
                          <img id="deal-date-cal" class="ui-datepicker-trigger" src="img/calendar.png" alt="Select date" title="Select date">
                        </label> 
                      </div>
                    </div><!-- input .row ends here -->
                    <div class="row">
                      <div class="xxlarge-12 xlarge-12 large-12 medium-12 small-12 columns">
                        <label>Open Deposit on<br/>
                          <input type="date" class="text-left radius bold behaviour-date" placeholder="mm/dd/yyyy" value="8/29/2014"/>
                          <img class="ui-datepicker-trigger" src="img/calendar.png" alt="Select date" title="Select date">
                        </label> 
                      </div>
                    </div><!-- input .row ends here -->
                    <div class="row">
                      <div class="xxlarge-12 xlarge-12 large-12 medium-12 small-12 columns">
                        <label>Option Expiry on<span class="superstick">*</span><br/>
                          <input type="date" class="text-left radius black bold behaviour-date" placeholder="mm/dd/yyyy" value="9/26/2014"/>
                          <img class="ui-datepicker-trigger" src="img/calendar.png" alt="Select date" title="Select date">
                        </label> 
                      </div>
                    </div><!-- input .row ends here -->
                    <div class="row">
                      <div class="xxlarge-12 xlarge-12 large-12 medium-12 small-12 columns">
                        <label>Deposit Mature on<br/>
                          <input type="date" class="text-left radius bold behaviour-date" placeholder="mm/dd/yyyy" value="9/30/2014"/>
                          <img class="ui-datepicker-trigger" src="img/calendar.png" alt="Select date" title="Select date">
                        </label> 
                      </div>
                    </div><!-- input .row ends here -->

                  </div><!-- column ends here -->
                  <div class="xxlarge-4 xlarge-4 large-4 medium-4 small-4 columns">
                    <h4 class="form-head">Profits & trade</h4>
                    <div class="row">
                      <div class="xxlarge-12 xlarge-12 large-12 medium-12 small-12 columns">
                        <label>USD Profit<span class="superstick">*</span><br/>
                          <input type="number" class="text-right radius unlocked currency bold" placeholder="0.00" value="1509.52"/>
                        </label> 
                      </div>
                    </div><!-- input .row ends here -->
                    <div class="row">
                      <div class="xxlarge-12 xlarge-12 large-12 medium-12 small-12 columns">
                        <label>Market Value of Option<br/>
                          <input type="number" class="text-right radius currency bold" placeholder="0.00" value="7412.00"/>
                        </label> 
                      </div>
                    </div><!-- input .row ends here -->
                    <div class="row">
                      <div class="xxlarge-12 xlarge-12 large-12 medium-12 small-12 columns">
                        <label>Mid Rate Value of Option<br/>
                          <input type="number" class="text-right radius currency bold" placeholder="0.00" value="7642.00"/>
                        </label> 
                      </div>
                    </div><!-- input .row ends here -->
                    <div class="row">
                      <div class="xxlarge-12 xlarge-12 large-12 medium-12 small-12 columns">
                        <label>Desired Rate ( % )<span class="superstick">*</span><br/>
                          <input type="number" class="text-right radius percent-3 bold" placeholder="0.00%" value="7.000"/>
                        </label> 
                      </div>
                    </div><!-- input .row ends here -->

                  </div><!-- column ends here -->
                </div><!-- .row ends here -->
              </div><!-- .rates-dates-profits-trade-section ends here -->
            </div><!-- .column ends here -->
          </div><!-- .row ends here -->
          <div class="row">
            <div class="xxlarge-12 xlarge-12 large-12 medium-12 small-12 columns end">
              <div class="divider-top">
                <div class="row">
                  <div class="xxlarge-5 xlarge-5 large-5 medium-5 small-5 columns">
                    <label>Spot Delta Hedge
                      <input type="text" class="text-right radius bold" value="Sell 600,000 EUR/USD"/>
                    </label> 
                  </div>
                  <div class="xxlarge-7 xlarge-7 large-7 medium-7 small-7 columns end">
                    <label>Ops Instructions
                      <input type="text" class="text-right radius optional"/>
                    </label> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- .left-panel ends here -->

      <div class="xxlarge-5 xlarge-5 large-5 medium-5 small-5 columns end quotation">
        <div class="row quotation-head-container">
          <div class="xxlarge-12 xlarge-12 large-12 medium-12 small-12 columns end">
            <h3 class="quotation-head">EUR/USD</h3>
          </div>
        </div>
        <div class="row info-row">
          <div class="xxlarge-12 xlarge-12 large-12 medium-12 small-12 columns end">
            <div class="border-bottom">
              <div class="row">
                <div class="xxlarge-5 xlarge-5 large-5 medium-5 small-5 columns infolet">
                  <div class="right info divider">
                    <p class="label">
                      Principal
                    </p>
                    <p class="value">
                      0.00
                    </p>
                  </div>
                </div>

                <div class="xxlarge-3 xlarge-3 large-3 medium-3 small-3 columns infolet">
                  <div class="right info divider">
                    <p class="label">
                      Day Count
                    </p>
                    <p class="value">
                      0
                    </p>
                  </div>
                </div> 
                <div class="xxlarge-2 xlarge-2 large-2 medium-2 small-2 columns infolet">
                  <div class="right info divider">
                    <p class="label">
                      Tenor
                    </p>
                    <p class="value">
                      0
                    </p>
                  </div>

                </div> 
                <div class="xxlarge-2 xlarge-2 large-2 medium-2 small-2 columns end infolet">
                  <div class="info unit highlight bigger">
                    M 
                  </div>
                </div> 
            </div>
            </div>
          </div>
        </div><!-- .info-row ends here -->
        <div class="row info-row">
          <div class="xxlarge-12 xlarge-12 large-12 medium-12 small-12 columns end">
            <div class="border-bottom">
              <div class="row">
                <div class="xxlarge-5 xlarge-5 large-5 medium-5 small-5 columns infolet">
                  <div class="right info divider">
                    <p class="label">
                      Market Value of Option
                    </p>
                    <p class="value bigger highlight">
                      0.00
                    </p>
                  </div>
                </div>

                <div class="xxlarge-7 xlarge-7 large-7 medium-7 small-7 columns infolet">
                  <div class="right info">
                    <p class="label">
                      Equals to USD Option Value
                    </p>
                    <p class="value bigger">
                      0.00
                    </p>
                  </div>
                </div> 
              </div>
            </div>
          </div>
        </div><!-- info-row ends here -->
        <div class="row info-row">
          <div class="xxlarge-12 xlarge-12 large-12 medium-12 small-12 columns end">
            <div class="border-bottom">
              <div class="row">
                <div class="xxlarge-5 xlarge-5 large-5 medium-5 small-5 columns infolet">
                  <div class="right info divider">
                    <p class="label">
                      Custy Premium in Deposit Currency
                    </p>
                    <p class="value">
                      0.00
                    </p>
                  </div>
                </div>

                <div class="xxlarge-7 xlarge-7 large-7 medium-7 small-7 columns infolet">
                  <div class="right info">
                    <p class="label">
                      Total Principal in Deposit Currency
                    </p>
                    <p class="value">
                      0.00
                    </p>
                  </div>
                </div> 
              </div>
            </div>
          </div>
        </div><!-- info-row ends here -->
        <div class="infobar-container">
          <div class="row info-row">
            <div class="xxlarge-12 xlarge-12 large-12 medium-12 small-12 columns end">
              <div class="border-bottom">
                <div class="row">
                  <div class="xxlarge-6 xlarge-6 large-6 medium-6 small-6 columns infolet">
                    <div class="info padding-left">
                      <p class="label">
                        EYD Gain
                      </p>
                      <p class="label normal">
                        (Premium and interest)
                      </p>
                    </div>
                  </div>

                  <div class="xxlarge-3 xlarge-3 large-3 medium-3 small-3 columns infolet">
                    <div class="info padding-left">
                      <p class="value">
                        0.00
                      </p>
                    </div>
                  </div> 
                  <div class="xxlarge-3 xlarge-3 large-3 medium-3 small-3 columns infolet">
                    <div class="info padding-right">
                      <p class="value">
                        0.00
                      </p>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
          </div><!-- info-row ends here -->
          <div class="row info-row">
            <div class="xxlarge-12 xlarge-12 large-12 medium-12 small-12 columns end">
              <div class="border-bottom">
                <div class="row">
                  <div class="xxlarge-6 xlarge-6 large-6 medium-6 small-6 columns infolet">
                    <div class="info padding-left">
                      <p class="label">
                        Principal and Interest
                      </p>
                      <p class="label normal">
                        (To be headged)
                      </p>
                    </div>
                  </div>

                  <div class="xxlarge-3 xlarge-3 large-3 medium-3 small-3 columns infolet">
                    <div class="info padding-left">
                      <p class="value red">
                        0.00
                      </p>
                    </div>
                  </div> 
                  <div class="xxlarge-3 xlarge-3 large-3 medium-3 small-3 columns infolet">
                    <div class="info padding-right">
                      <p class="value">
                        APY
                      </p>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
          </div><!-- info-row ends here -->
          <div class="row info-row">
            <div class="xxlarge-12 xlarge-12 large-12 medium-12 small-12 columns end">
              <div class="border-bottom">
                <div class="row">
                  <div class="xxlarge-6 xlarge-6 large-6 medium-6 small-6 columns infolet">
                    <div class="info padding-left">
                      <p class="label">
                        Enhanced Field if held to Maturity
                      </p>
                      <p class="label normal">
                        (Annualized Rate)
                      </p>
                    </div>
                  </div>

                  <div class="xxlarge-3 xlarge-3 large-3 medium-3 small-3 columns infolet">
                    <div class="info padding-left">
                      <p class="value red">
                        0.00 %
                      </p>
                    </div>
                  </div> 
                  <div class="xxlarge-3 xlarge-3 large-3 medium-3 small-3 columns infolet">
                    <div class="info padding-right">
                      <p class="value">
                        0.00 %
                      </p>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
          </div><!-- info-row ends here -->
          <div class="row info-row">
            <div class="xxlarge-12 xlarge-12 large-12 medium-12 small-12 columns end">
              <div class="border-bottom">
                <div class="row">
                  <div class="xxlarge-6 xlarge-6 large-6 medium-6 small-6 columns infolet">
                    <div class="info padding-left">
                      <p class="label">
                        Principle/Gain
                      </p>
                      <p class="label normal">
                        if converted in <span class="label">USD</span>
                      </p>
                    </div>
                  </div>

                  <div class="xxlarge-3 xlarge-3 large-3 medium-3 small-3 columns infolet">
                    <div class="info padding-left">
                      <p class="value">
                        0.00
                      </p>
                    </div>
                  </div> 
                  <div class="xxlarge-3 xlarge-3 large-3 medium-3 small-3 columns infolet">
                    <div class="info padding-right">
                      <p class="value">
                        0.00
                      </p>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
          </div><!-- info-row ends here -->
          <div class="row info-row">
            <div class="xxlarge-12 xlarge-12 large-12 medium-12 small-12 columns end">
              <div class="border-bottom">
                <div class="row">
                  <div class="xxlarge-6 xlarge-6 large-6 medium-6 small-6 columns infolet">
                    <div class="info padding-left">
                      <p class="label">
                        Amount paid in USD if Triggered
                      </p>
                    </div>
                  </div>

                  <div class="xxlarge-3 xlarge-3 large-3 medium-3 small-3 columns infolet">
                    <div class="info padding-left">
                      <p class="value">
                        0.00
                      </p>
                    </div>
                  </div> 
                  <div class="xxlarge-3 xlarge-3 large-3 medium-3 small-3 columns infolet">
                    <div class="info padding-right">
                      <p class="value">
                        APY
                      </p>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
          </div><!-- info-row ends here -->
          <div class="row info-row">
            <div class="xxlarge-12 xlarge-12 large-12 medium-12 small-12 columns end">
              <div class="border-bottom">
                <div class="row">
                  <div class="xxlarge-6 xlarge-6 large-6 medium-6 small-6 columns infolet">
                    <div class="info padding-left">
                      <p class="label">
                        Annualized Yield if client called away
                      </p>
                    </div>
                  </div>

                  <div class="xxlarge-3 xlarge-3 large-3 medium-3 small-3 columns infolet">
                    <div class="info padding-left">
                      <p class="value red">
                        0.00 %
                      </p>
                    </div>
                  </div> 
                  <div class="xxlarge-3 xlarge-3 large-3 medium-3 small-3 columns infolet">
                    <div class="info padding-right">
                      <p class="value">
                        0.00 %
                      </p>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
          </div><!-- info-row ends here -->
        </div><!--.infobar-container ends here -->
        
      </div><!-- .quotation ends here -->
    </div><!-- .row ends here -->

    <div class="row fullwidth table-container">
      <table>
          <tr>
            <th class="note text-left" width="43%">Enter Non Contractable Ticket in Customer's <span class="bold">WTWEB EYD File to Capture USD Profit</span></th>
            <td>#N/A</td>
            <td>#N/A</td>
            <td>#N/A</td>
            <td>#N/A</td>
            <td>#N/A</td>
          </tr>
          <tr>
            <th class="text-left bold">Profit Contract #</th>
            <td class="disabled"></td>
            <td class="text-center"></td>
            <td class="no-show"></td>
            <td class="no-show"></td>
            <td class="no-show"></td>
          </tr>
      </table>

      <table role="grid">
        <tbody>
          <tr>
            <td class="text-left" colspan="2" rowspan="2" width="43%">Enter Contractible Spot Ticket in Customer's<br/>WTWEB EYD File to convert custy USD Premium to FX (Trader - Retail)</td>
            <td colspan="3">
              <div class="row">
                <div class="xxlarge-4 xlarge-4 large-4 medium-4 small-4 columns text-left">
                  Wells Fargo buys
                </div>
                <div class="xxlarge-4 xlarge-4 large-4 medium-4 small-4 columns text-center">
                  USD
                </div>
                <div class="xxlarge-4 xlarge-4 large-4 medium-4 small-4 columns end text-center">
                  499.38
                </div>
              </div>
            </td>
            <td class="text-left">Use Spot Rate of</td>
            <td class="text-left">For value of</td>
          </tr>
          <tr>
            <td colspan="3">
              <div class="row">
                <div class="xxlarge-4 xlarge-4 large-4 medium-4 small-4 columns text-left">
                  and sells to client
                </div>
                <div class="xxlarge-4 xlarge-4 large-4 medium-4 small-4 columns text-center">
                  EUR
                </div>
                <div class="xxlarge-4 xlarge-4 large-4 medium-4 small-4 columns end text-center">
                  &euro;74.67
                </div>
              </div>
            </td>
            <td class="text-right">1,317610</td>
            <td class="text-right">8/29/2014</td>
          </tr>
        </tbody>
      </table>

      <table role="grid" class="text-left td-border-spacing">
        <thead>
          <tr>
            <th width="23%">Book Euro Deposit in OPICs in Customer's</th>
            <th width="18%">National Amount</th>
            <th>Currency</th>
            <th>%</th>
            <th>Effective Date</th>
            <th>Maturity</th>
            <th>Basic</th>
          </tr>
        </thead>
        <tbody >
          <tr >
            <td><span class="fake-margin">WTWEB EYD name</span></td>
            <td><span class="fake-margin">100,074.67</span></td>
            <td><span class="fake-margin">EUR</span></td>
            <td><span class="fake-margin">-0.5%</span></td>
            <td><span class="fake-margin">29-Aug-2014</span></td>
            <td><span class="fake-margin">30-Sep-2014</span></td>
            <td><span class="fake-margin">360</span></td>
          </tr>
          <tr>
            <td><span class="fake-margin">WTWEB EYD name</span></td>
            <td><span class="fake-margin">100,074.67</span></td>
            <td><span class="fake-margin">EUR</span></td>
            <td><span class="fake-margin">-0.5%</span></td>
            <td><span class="fake-margin">29-Aug-2014</span></td>
            <td><span class="fake-margin">30-Sep-2014</span></td>
            <td><span class="fake-margin">360</span></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  <!-- content panel ends -->
</div>
