
      <div id="acp" ui-jq="dialog" ui-options="{autoOpen:false, modal: true, closeOnEscape: true, draggable: false, title: 'Add Currency Pair', dialogClass: 'fxd-dialog', resizeable: false, width: '31.250rem'}">
        <form>
        <div class="bcontent row">
          <div class="xxlarge-12 xlarge-12 large-12 medium-12 small-12 columns">
            <h4>Add Currency Pair</h4>
          </div>
          <div class="xxlarge-12 xlarge-12 large-12 medium-12 small-12 columns">
            <label class="bold">Enter Currency Pair
              <br/>
              <input type="text" class="radius" ui-jq="select2" ui-options='{"placeholder": "Enter Currency Pair"}' placeholder="Enter Currency Pair"/>
            </label>
          </div>
          <div class="xxlarge-12 xlarge-12 large-12 medium-12 small-12 columns end">
            <button class="tiny primary radius round uppercase bold right">Add</button>
            <button class="tiny secondary radius round uppercase bold right">Cancel</button>
          </div>
        </div>
        </form>
      </div>
