
<div id="cb-context-menu" class="position-fixed context-menu">
  <ul class="vertical">
    <li>
      <label>
        <input type="checkbox" disabled="disabled" checked="checked" class="margin-b-0"/>
        CCY Pair
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" disabled="disabled" checked="checked" class="margin-b-0"/>
        Bid
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" disabled="disabled" checked="checked" class="margin-b-0"/>
        Ask
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" disabled="disabled" checked="checked" class="margin-b-0"/>
        Market Direction
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" class="margin-b-0"/>
        Spread
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" class="margin-b-0"/>
        Mid
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" class="margin-b-0"/>
        Max
      </label>
    </li>
    <li>
      <label>
        <input type="checkbox" class="margin-b-0"/>
        Min
      </label>
    </li>
  </ul>
  <div class="text-center">
    <button class="tiny secondary radius round uppercase">Save</button>
  </div>
</div>
