
      <div id="settings-trade-blotter" ui-jq="dialog" ui-options="{autoOpen:false, modal: true, closeOnEscape: true, draggable: false, title: 'Settings: Trade Blotter', dialogClass: 'fxd-dialog', resizeable: false, width: '35.250rem'}">
        <form>
        <div class="bcontent">
          <div class="row">
            <div class="xxlarge-12 xlarge-12 large-12 medium-12 small-12 columns end"> 
              <label class="bold">Fields to Display
                <br/>
                <input type="text" class="text-normal margin-0 padding-0 select2 focus-expand radius" ui-jq="select2" placeholder="Fields to Display"/>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="xxlarge-12 xlarge-12 large-12 medium-12 small-12 columns end"> 
              <label class="bold">Max Rows to Display</label>
            </div>
          </div>
          <div class="row">
            <div class="xxlarge-3 xlarge-3 large-3 medium-3 small-3 columns end"> 
              <label>
              <select class="select2 radius" ui-jq="select2">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
              </select>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="xxlarge-12 xlarge-12 large-12 medium-12 small-12 columns"> 
              <button class="tiny primary radius round uppercase right bold">Save</button>
              <button class="tiny secondary radius round uppercase bold right">Cancel</button>
            </div>
          </div>
        </div>
        </form>
      </div>
